/*
START STYLE CARRUSEL
*/
.carrusel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrusel-slide {
    width: auto;
    display: flex;
    transition: transform 1s ease-in-out;
}

.carrusel-slide img {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
/*
END STYLE CARRUSEL
*/
/*
START STYLE PHRASES CARRUSEL
*/
.phrases-carrusel-container {
    background-color: rgba(0, 0, 0, .6);
    color: #d0d0d0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 45%;
    z-index: 11;
}

.phrases-carrusel-slide {
    width: 100%;
    display: flex;
    transition: transform 1s ease-in-out;
}

.phrases-carrusel-slide div {
    display: flex;
    font-weight: bold;
    font-size: 2vw;
    min-width: 100%;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}

.phrases-carrusel-slide div p {
    justify-items: center;
    width: 50%;
    margin: 0;
}

.phrases-carrusel-slide div p::after {
    content: '';
    width: 70%;
    border-bottom: .2vw solid #d0d0d0;
    display: flex;
    position: relative;
    bottom: 46%;
}
/*
END STYLE PHRASES CARRUSEL CARRUSEL
*/