<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logoPestaña.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57ce1ec34c.js" crossorigin="anonymous"></script>
    <title>EloyCon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo-container">
            <a href="{{ url_for('main.home') }}">
                <img src="../static/img/logo.png" alt="logo" class="img-logo">
            </a>
        </div>
        <div class="nav-options-container">
            <ul class="barra-nav">
                
                <li class="nav-section"><a href="{{ url_for('main.home') }}">{{ translate['nav_home'] }}</a></li>
                <li class="nav-section"><a href="{{ url_for('main.proyectos') }}">{{ translate['nav_proyectos'] }}</a></li>
                <li class="nav-section"><a href="{{ url_for('main.nosotros') }}">{{ translate['nav_nosotros'] }}</a></li>
                <li class="nav-section"><a href="{{ url_for('main.servicios') }}">{{ translate['nav_servicios'] }}</a></li>
                <li class="nav-section"><a href="{{ url_for('main.contacto') }}">{{ translate['nav_contacto'] }}</a></li>
                <li class="nav-section"><a href="#">{{ translate['nav_acceso'] }}</a></li>
                <li class="language">
                    <a href="{{ url_for('main.set_language', lang='es') }}" class="spanish"><span>ES</span><img src="{{ url_for('static', filename='img/icon-language/Spain.svg') }}" alt="Spain flag" width="17px"></a>
                    <a href="{{ url_for('main.set_language', lang='en') }}" class="english"><span>EN</span><img src="{{ url_for('static', filename='img/icon-language/United-Kingdom.svg') }}" alt="United Kingdom flag" width="17px"></a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>  