{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrusel.css') }}">
{% endblock %}
{% block content %}
    {% include "carrusel.html" %}
    <main>
        <div class="who-we-are-container"> <!-- who we are -->
            <h2 class="title-us">{{ titles_us['nosotros_1_titulo'] }}</h2>
            <p class="content-1-1">{{ content_1['nosotros_1_descripcion1'] }}</p>
            <p class="content-1-2">{{ content_1['nosotros_1_descripcion2'] }}</p>
            <div class="content-1-3">
                <img src="{{ url_for('static', filename='img/img-to-web/us/who-we-are/img-background.webp') }}" alt="img_fondo">
                <div class="gradient-background"></div>
                <p>{{ content_1['nosotros_1_descripcion3'] }}</p>
            </div>
        </div>
        <div class="our-history-container"> <!-- our history -->
            <h2 class="title-us">{{ titles_us['nosotros_2_titulo'] }}</h2>
            <div class="our-history-content">
                {% for c in content_2 %}
                    {% if loop.index % 2 == 0 %}
                    <div class="content-history-container">
                        <img src="{{ url_for('static', filename='img/img-to-web/us/our-history/'+content_2[c]['img']) }}" alt="content_2[c]['img']">
                        <p>{{ content_2[c]['texto'] }}</p>
                    </div>
                    {% else %}
                    <div class="content-history-container">
                        <p>{{ content_2[c]['texto'] }}</p>
                        <img src="{{ url_for('static', filename='img/img-to-web/us/our-history/'+content_2[c]['img']) }}" alt="content_2[c]['img']">
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="line-history">
                    <span>2010</span>
                    <span>2015</span>
                    <span>2020</span>
                    <span>2025</span>
                </div>
            </div>
        </div>
        <div class="our-team-container">  <!-- our team -->
            <h2 class="title-us">{{ titles_us['nosotros_3_titulo'] }}</h2>
            {% for title in title_content_us_3 %}
            <div class="content-employees">
                <div class="ver">
                    <div class="title-employees">
                        <span>{{ title }}</span>
                        <div id="contenedor-svg-{{ loop.index }}">
                            <svg width="100%" height="100%" viewBox="0 0 30 30">
                                <polyline points="3,20 15,10 27,20" fill="none" stroke="#d0d0d0" stroke-width="2" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="photo-employees" id="photo-employees-{{ loop.index }}">
                    {% if loop.index == 1 %}
                        {% for values in content_3['leadership-team'] %}
                        <div>
                            <img src="{{ url_for('static', filename=content_3['leadership-team'][values]['url']) }}" alt="img employee">
                            <h4>{{ content_3['leadership-team'][values]['name'] }}</h4>
                            <p>{{ content_3['leadership-team'][values]['profession'] }}</p>
                        </div>
                        {% endfor %}
                    {% elif loop.index == 2 %}
                        {% for values in content_3['architects-engineers'] %}
                        <div>
                            <img src="{{ url_for('static', filename=content_3['architects-engineers'][values]['url']) }}" alt="img employee">
                            <h4>{{ content_3['architects-engineers'][values]['name'] }}</h4>
                            <p>{{ content_3['architects-engineers'][values]['profession'] }}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for values in content_3['general-team'] %}
                        <div>
                            <img src="{{ url_for('static', filename=content_3['general-team'][values]['url']) }}" alt="img employee">
                            <h4>{{ content_3['general-team'][values]['name'] }}</h4>
                            <p>{{ content_3['general-team'][values]['profession'] }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
        </div>
        <div class="rsc"> <!-- responsibility social corporate -->
            <h2 class="title-us">{{ titles_us['nosotros_4_titulo'] }}</h2>
            <div class="content-rsc-container">
                {% for i in content_4 %}
                <div class="content-rsc">
                    <div>
                        <img src="{{ url_for('static', filename=content_4[i]['url']) }}" alt="svg">
                    </div>
                    <h3>{{content_4[i]['title']}}</h3>
                    <p>{{content_4[i]['description']}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include "footer.html" %}
    
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carrusel_phrases.js') }}"></script>
    <script src="{{ url_for('static', filename='js/our_team.js')  }}"></script>
{% endblock %}