{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/carrusel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/proyecto.css') }}">
{% endblock %}
{% block content %}
    {% include "carrusel.html" %}
    <main>
        <div class="content-project">
            <div><img src="{{ url_for('static', filename=random_img) }}" alt=""></div>
            <div>
                <h2>{{ content['title'] }}</h2>
                <h3>{{ content['city'] }}</h3>
                {% for text in content['description'] %}
                <p>{{ text }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="container-imgs">
            <div class="imgs-project">
                {% for img in content['url'] %}
                <img src="{{ url_for('static', filename=img) }}" alt="img">
                {% endfor %}
            </div>
            <button class="prev"><i class="fa-solid fa-caret-left"></i></button>
            <button class="next"><i class="fa-solid fa-caret-right"></i></button>
        </div>
        
    </main>
    {% include "footer.html" %}
    
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/carrusel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carrusel_phrases.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgs_project.js') }}"></script>
{% endblock %}